<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sf.lottery.mapper.IManagerMapper">
	<resultMap id="BaseResultMap" type="com.sf.lottery.entity.Manager">
		<id column="f_id" property="id" javaType="long" jdbcType="INTEGER" />
		<result column="f_name" property="name" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="f_pwd" property="pwd" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="f_create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insertManager" parameterType="com.sf.lottery.entity.Manager">
		<![CDATA[
			INSERT INTO t_manager(f_id, f_name, f_pwd, f_create_time) VALUES(#{id}, #{name}, #{pwd}, #{createTime})
		]]>
	</insert>

	<select id="selectManagerByName" parameterType="java.lang.String" resultMap="BaseResultMap">
		<![CDATA[
			SELECT f_id, f_name, f_pwd, f_create_time FROM t_manager WHERE f_name = #{name}
		]]>
	</select>
	
	<select id="selectManager" resultMap="BaseResultMap">
		<![CDATA[
			SELECT f_id, f_name, f_create_time FROM t_manager
		]]>
	</select>
	
</mapper>