<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sf.lottery.mapper.IPeriodMapper">
	<resultMap id="BaseResultMap" type="com.sf.lottery.entity.Period">
		<id column="f_id" property="id" javaType="int" jdbcType="INTEGER" />
		<result column="f_code" property="code" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="f_game_id" property="gameId" javaType="int" jdbcType="INTEGER" />
		<result column="f_start_time" property="startTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="f_end_time" property="endTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="f_finish_time" property="finishTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result column="f_result" property="result" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="f_status" property="status" javaType="int" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="insertPeriodTemplate" statementType="CALLABLE">
		<![CDATA[
			CALL p_create_period()
		]]>
	</select>
	
	<select id="selectPeriodTemplateNum" resultType="int">
		<![CDATA[
			SELECT COUNT(1) FROM t_period_template WHERE f_game_id = 1
		]]>
	</select>

	<select id="selectLastPeriod" resultMap="BaseResultMap">
		<![CDATA[
			SELECT f_id, f_code, f_game_id, f_start_time, f_end_time, f_finish_time, f_result, f_status FROM t_period ORDER BY f_start_time DESC LIMIT 1
		]]>
	</select>
	
	<select id="selectNowPeriod" resultMap="BaseResultMap">
		<![CDATA[
			SELECT f_id, f_code, f_game_id, f_start_time, f_end_time, f_finish_time, f_result, f_status
			FROM t_period
			WHERE f_game_id = #{gameId, jdbcType=INTEGER} AND #{nowTime, jdbcType=TIMESTAMP} >= f_start_time AND #{nowTime, jdbcType=TIMESTAMP} < f_finish_time
		]]>
	</select>
	
	<insert id="insertPeriod" parameterType="java.sql.Date">
		<![CDATA[
			INSERT INTO t_period (
			  f_code,
			  f_game_id,
			  f_start_time,
			  f_end_time,
			  f_finish_time,
			  f_result,
			  f_status
			)
			SELECT
				CONCAT(DATE_FORMAT(#{value}, '%Y%m%d'), LPAD(f_code, 3, '000')) AS f_code,
				f_game_id,
				DATE_ADD(#{value}, INTERVAL f_start_time HOUR_SECOND) AS f_start_time,
				DATE_ADD(#{value}, INTERVAL f_end_time HOUR_SECOND) AS f_end_time,
				DATE_ADD(#{value}, INTERVAL f_finish_time HOUR_SECOND) AS f_finish_time,
				'' AS f_result,
				0 AS f_status
			FROM t_period_template ORDER BY f_id
		]]>
	</insert>
	
</mapper>